In [1]:
import pandas as pd
raw_data1 = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'age': [20, 19, 22, 21],
'favorite_color': ['blue', 'blue', 'yellow', "green"],
'test_one': [88, 92, 95, 70]}
df1 = pd.DataFrame(raw_data1)
df1

               name  age favorite_color  test_one
0    Willard Morris   20           blue        88
1       Al Jennings   19           blue        92
2      Omar Mullins   22         yellow        95
3  Spencer McDaniel   21          green        70

In [2]:
raw_data2 = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'test_two': [87, 94, 97, 72],
'test_three': [78, 100, 90, 85]}
df2 = pd.DataFrame(raw_data2)
df2

               name  test_two  test_three
0    Willard Morris        87          78
1       Al Jennings        94         100
2      Omar Mullins        97          90
3  Spencer McDaniel        72          85

In [3]:
result_df = df1.merge(df2, how = 'inner')

In [4]:
result_df

               name  age favorite_color  test_one  test_two  test_three
0    Willard Morris   20           blue        88        87          78
1       Al Jennings   19           blue        92        94         100
2      Omar Mullins   22         yellow        95        97          90
3  Spencer McDaniel   21          green        70        72          85

In [5]:
result_df['sum'] = result_df['test_one'] + result_df['test_two'] + result_df['test_three']

In [6]:
result_df = result_df.sort_values(by = ['sum'], ascending=False)

In [11]:
result_df.iloc[0, :]

name              Al Jennings
age                        19
favorite_color           blue
test_one                   92
test_two                   94
test_three                100
sum                       286
Name: 1, dtype: object