In [1]:
import pandas as pd

orders_data = pd.DataFrame({
'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],
'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})

https://www.w3resource.com/python-exercises/pandas/groupby/index.php

Write a Pandas program to split a dataset, group by one column and get mean, min, and max values by group. Using the following dataset find the mean, min, and max values of purchase amount (purch_amt) group by customer id (customer_id).

In [4]:
grouped_orders_data_by_customer = orders_data.groupby(by = ['customer_id'])
purchase_amt = {}
purchase_amt['mean'] = grouped_orders_data_by_customer['purch_amt'].mean()
purchase_amt['min'] = grouped_orders_data_by_customer['purch_amt'].min()
purchase_amt['max'] = grouped_orders_data_by_customer['purch_amt'].max()

print(purchase_amt)

{'mean': customer_id
3001     270.650000
3002    2956.953333
3003      75.290000
3004    1983.430000
3005     549.500000
3007    2400.600000
3008     250.450000
3009    1295.450000
Name: purch_amt, dtype: float64, 'min': customer_id
3001     270.65
3002      65.26
3003      75.29
3004    1983.43
3005     150.50
3007    2400.60
3008     250.45
3009     110.50
Name: purch_amt, dtype: float64, 'max': customer_id
3001     270.65
3002    5760.00
3003      75.29
3004    1983.43
3005     948.50
3007    2400.60
3008     250.45
3009    2480.40
Name: purch_amt, dtype: float64}

Write a Pandas program to split the following dataset using group by on 'salesman_id' and find the first order date for each group.

In [6]:
grouped_orders_data_by_salesman = orders_data.groupby(by = ['salesman_id'], sort = False)
grouped_orders_data_by_salesman['ord_date'].min()

salesman_id
5002    2012-06-27
5005    2012-09-10
5001    2012-04-25
5003    2012-08-17
5006    2012-10-10
5007    2012-08-17
Name: ord_date, dtype: object